<%= form_with(model: @blog, local: true, url: confirm_blogs_path) do |form| %>
  <% if @blog.errors.any? %>  <!--any?とすることでエラーが存在している時だけ(@blogの中にエラー情報が詰め込まれている時だけ)、内部の記述を実行するようにしている-->
    <div id="error_explanation">
      <h2><%= @blog.errors.count %>件のエラーがあります。</h2>  <!--格納された全てのエラーメッセージをeach文で1つずつ取り出して、msgに格納し表示させています-->
      <ul>

      <% @blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="blog_content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "ついーと一覧画面にもどる",blogs_path %>